<!DOCTYPE html>
        <html>
        <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SKYN</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        </head>
        <body>
          <style>
            body{
            background-color: #2f2f2f;
            color: blanchedalmond;
        }
        a{
              text-align: center;
              display: inline-block;
              padding: 25px;
              margin: auto;
              font-weight: bolder;
              text-decoration: underline;
              color: #7f7f7f;
              font-size: 20px;
              text-decoration: none;
              width: 19%;
            }
        a:hover{
          text-decoration: none;
          color: blanchedalmond;
        }
            nav{
                margin: auto;
                display: block;
                padding-bottom: 50px;
            }
            img{
              padding: 25px;;
            }
            iframe{
              padding: 25px;
            }
            h1{
              padding: 25px;
            }
          </style>
        <div class="container">
            <nav>
              <a href="/">Home</a>
              <a href="/leaderboard">Leaderboards</a>
              <a href="/prizes">Prizes</a>
              <a href="/tutorial">Tutorial</a>
              <a target="_blank" href="http://maps.secondlife.com/secondlife/Lila/58/87/2496">Store</a>
          </nav>

        <h1 class="display-4 text-center py-1">PROJECT SKYN</h1>
        <p class="text-center">contact@projectskyn.com</p>
        <iframe style="display: block; margin: auto;width: 80%;height: 500px;" src="https://www.youtube.com/embed/g7EkghFwJHw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
          <img src="logos.svg" alt="SKYN logo" style="display: block;margin: auto;">
          <h2 class="">PATCH NOTES</h2>
          <p class="">
            0.9.0<br>
            -Dieing from hunger is now possible again. With 0 body fat and 0 calories your health will start to go down<br>
            -Energy can no longer regenerate without calories to burn<br>
            -Takes much longer to become sleepy<br>
            -Will now get sleepy faster when it is night time in the region (between 6pm and 6am)<br>
            -Added a region time cycle to sims that don't support day/night (based off region up-time)<br>
            -Fixed a bug when toggling some features off, it would alter other stats strangely<br>
            -Added support for skyn coin reward items<br>
            -Fixed a bug with sleep particles turning on or off at wrong times<br>
            -Fixed a bug where skyn coins would be displayed as 99990 or 99991 when reaching the cap of 9999<br>
            -Adjusted the 100 coin find chance and time.<br>
            -Shark energy and bubble bars now restore less thirst/hunger, and have a greater affect on pimple growth and fat gain<br>
            -Changed the way pimples work. Now unhealthy foods have a greater chance of creating pimples, and some foods can clear pimples.<br>
            -Now Hunger and Calories are combined into just calories. It's (hopefully) less confusing.<br>
            -Increased fitness gain and loss speeds<br>
            -Added a tutorial video (found in help menu or on website)<br>
            -Earning skyn points passively has been nerfed. Skyn coins can only be earned if you live an active lifestyle.<br>
            -Combined the energy stat with fatigue for more simplicity<br>
            -Added a "Top 10" group tag for those legendary enough to reach the leaderboard<br>
            -Added support for different types of leaderboards<br>
            -Fixed the animation permission error, for real this time (maybe...)<br>
            -Recovering energy now requires you to have at least some food and water in your system<br>
            -Recovering health passively is much slower and the health recovery from foods has been reduced<br>
            -Added a leaderboard for time alive and fitness (more to come soon)<br>
            -Reduced hunger sound threshhold <br>
            -Put a cap on calories at 8000<br>
            -Added 157 prizes to the skyn coin prize pool!<br>
            -Increased how much a slap will wake you up, and made it only possible to gain fitness from slapping if you have enough energy for it.<br>
            -All messages from the HUD should have the HUDs title in front of them now (no more messages from energyIcon)<br>
            -The small icons at the top of the HUD now change what is displayed on the middle circle when clicked. Unless health is very low, then it will always show health.<br>
            -Updated some text to reflect changes made in this patch<br>
            -Fixed a problem with the leaderboard not loading correctly sometimes (maybe...)<br>
-Updated the website colours and navigation
          </p>
          <p class="">
            0.8.5<br>
            -Added automatic updates
          </p>
          <p class="">
            0.8.4<br>
            -Added interactions with the Spanker group gift<br>
            -Fixed a bug with the Dumbbells not working sometimes<br>
            -Fixed an animation permissions error
</p><p class="">
            0.8.2<br>
            - Can no longer consume items while asleep<br>
            - Sleeping now requires clicking the sleep icon while tired and sitting down. It will flash blue when you are able to sleep<br>
            - Added a global leaderboard! (check settings button)<br>
            - Pill bottle no longer consumes calories and the consequences have been lessened     <br>
            - Thirst damage was lowered heavily<br>
            - Thirst rate was lowered<br>
            - You will now start with much higher fitness (halfway between min and max)
</p><p class="">
            0.7.4<br>
            - Tweaked weight gain and weight loss speeds<br>
            - Fixed a bug where the fatigue bar would show depleted when at higher fitness levels<br>
            - Reworked the installation process (a fresh install is now required)<br>
            - Revised some notecards to reflect new installation
          </p>
        </div>
        </body>
        </html>