<!DOCTYPE html>
        <html>
        <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SKYN</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        </head>
        <body>
        <div class="container">
        <h1 class="display-4 text-center py-1">PROJECT SKYN</h1>
          <img src="logos.svg" alt="SKYN logo" style="display: block;margin: auto;">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/g7EkghFwJHw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <br><a class="text-center" href="/leaderboard">Leaderboards</a><br>
          <h2 class="text-center">PATCH NOTES</h2>
          <p class="text-center">
            0.8.6<br>
            -Dieing from hunger is now possible again. With 0 body fat and 0 calories your health will start to go down<br>
            -Energy can no longer regenerate without calories to burn
          </p>
          <p class="text-center">
            0.8.5<br>
            -Added automatic updates (no more MP redelivers!)
          </p>
          <p class="text-center">
            0.8.4<br>
            -Added interactions with the Spanker group gift<br>
            -Fixed a bug with the Dumbbells not working sometimes<br>
            -Fixed an animation permissions error
</p><p class="text-center">
            0.8.2
            - Can no longer consume items while asleep<br>
            - Sleeping now requires clicking the sleep icon while tired and sitting down. It will flash blue when you are able to sleep<br>
            - Added a global leaderboard! (check settings button)<br>
            - Pill bottle no longer consumes calories and the consequences have been lessened     <br>
            - Thirst damage was lowered heavily<br>
            - Thirst rate was lowered<br>
            - You will now start with much higher fitness (halfway between min and max)
</p><p class="text-center">
            0.7.4<br>
            - Tweaked weight gain and weight loss speeds<br>
            - Fixed a bug where the fatigue bar would show depleted when at higher fitness levels<br>
            - Reworked the installation process (a fresh install is now required)<br>
            - Revised some notecards to reflect new installation
          </p>
        </div>
        </body>
        </html>