<!DOCTYPE html>
        <html>
        <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SKYN</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        </head>
        <body>
          <style>
            a{
              text-align: center;
              display: block;
              margin: auto;
              font-weight: bolder;
              text-decoration: underline;
              color: black;
              font-size: 40px;
            }
            img{
              padding: 25px;;
            }
            iframe{
              padding: 25px;
            }
            h1{
              padding: 25px;
            }
          </style>
        <div class="container">
        <h1 class="display-4 text-center py-1">PROJECT SKYN</h1>
        <p class="text-center">contact@projectskyn.com</p>
        <iframe style="display: block; margin: auto;width: 80%;height: 500px;" src="https://www.youtube.com/embed/g7EkghFwJHw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <a href="/leaderboard">Leaderboards</a>
        <a href="/tutorial">Tutorial</a>
        <a target="_blank" href="https://marketplace.secondlife.com/stores/157953">Store</a>
          <img src="logos.svg" alt="SKYN logo" style="display: block;margin: auto;">
          <h2 class="">PATCH NOTES</h2>
          <p class="">
            0.9.0<br>
          -Dieing from hunger is now possible again. With 0 body fat and 0 calories your health will start to go down<br>
          -Energy can no longer regenerate without calories to burn<br>
          -Takes much longer to become sleepy<br>
          -Will now get sleepy faster when it is night time in the region (between 6pm and 6am)<br>
          -Added a region time cycle to sims that don't support day/night (based off region up-time)<br>
          -Fixed a bug when toggling some features off, it would alter other stats strangely<br>
          -Added support for skyn coin reward items<br>
          -Fixed a bug with sleep particles turning on or off at wrong times<br>
          -Fixed a bug where skyn coins would be displayed as 99990 when reaching the cap of 9999<br>
          -Adjusted the 100 coin find chance and time. This was previously exploitable.<br>
          -Shark energy and bubble bars now restore less resource.<br>
          -Changed the way pimples work. Now unhealthy foods have a greater chance of creating pimples, and some foods can clear pimples.<br>
          -Now Hunger and Calories are combined into just calories. It's (hopefully) less confusing.<br>
          -Increased fitness gain and loss<br>
          -Added a tutorial video (found in help menu or on website)<br>
          -Earning skyn points passively has been nerfed. Now only a small ammount can be earned while AFK or just standing around.<br>
          -Combined the energy stat with fatigue for more simplicity<br>
          -Cleaned out a lot of cob webs from inside the HUD
          </p>
          <p class="">
            0.8.5<br>
            -Added automatic updates
          </p>
          <p class="">
            0.8.4<br>
            -Added interactions with the Spanker group gift<br>
            -Fixed a bug with the Dumbbells not working sometimes<br>
            -Fixed an animation permissions error
</p><p class="">
            0.8.2<br>
            - Can no longer consume items while asleep<br>
            - Sleeping now requires clicking the sleep icon while tired and sitting down. It will flash blue when you are able to sleep<br>
            - Added a global leaderboard! (check settings button)<br>
            - Pill bottle no longer consumes calories and the consequences have been lessened     <br>
            - Thirst damage was lowered heavily<br>
            - Thirst rate was lowered<br>
            - You will now start with much higher fitness (halfway between min and max)
</p><p class="">
            0.7.4<br>
            - Tweaked weight gain and weight loss speeds<br>
            - Fixed a bug where the fatigue bar would show depleted when at higher fitness levels<br>
            - Reworked the installation process (a fresh install is now required)<br>
            - Revised some notecards to reflect new installation
          </p>
        </div>
        </body>
        </html>