<!DOCTYPE html>
        <html>
        <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SKYN</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        </head>
        <body>
        <div class="container">
        <h1 class="display-4 text-center py-1">Leaderboard</h1>
        <script>
            for (let i; i<10; i++)
            {
                 document.write(i, ' Name: ', leaderboard[i].name, ' Coins: ', leaderboard[i].coins) 
            }   
        </script>
          <img src="logos.svg" alt="SKYN logo" style="display: block;margin: auto;">
        </div>
        </body>
        </html>