<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SKYN</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
    <style>
        th{
            padding: 5px;
        }
        tr{
            border: #aaaaaa 1px;
            border-style: solid hidden;
            
        }
    </style>
    <div class="container">
        <h1 class="display-4 text-center py-1">Leaderboard</h1>
        <h4 class="display-6 text-center py-1">SKYN COINS</h4>
      <script type="text/javascript">
        let rank = <%- JSON.stringify(data) %>;
        document.write('<table style="width:100%;">', rank ,'</table>');
      </script>
        <img src="logos.svg" alt="SKYN logo" style="display: block;margin: auto;">
    </div>
</body>
</html>