<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SKYN</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
    <style>
      body{
            background-color: #2f2f2f;
            color: blanchedalmond;
        }
      a{
              text-align: center;
              display: inline-block;
              padding: 25px;
              margin: auto;
              font-weight: bolder;
              text-decoration: underline;
              color: #7f7f7f;
              font-size: 20px;
              text-decoration: none;
              width: 19%;
            }
        a:hover{
          text-decoration: none;
          color: blanchedalmond;
        }
        nav{
            margin: auto;
            display: block;
           
        }
        th{
            padding: 5px;
        }
        tr{
            border: #aaaaaa 1px;
            border-style: solid hidden;
            
        }
    </style>
    <div class="container">
      <nav>
        <a href="/">Home</a>
        <a href="/leaderboard">Leaderboards</a>
        <a href="/prizes">Prizes</a>
        <a href="/tutorial">Tutorial</a>
        <a target="_blank" href="http://maps.secondlife.com/secondlife/Lila/58/87/2496">Store</a>
    </nav>
    <h1 class="display-4 text-center py-1">Leaderboard</h1>
    <!--<h3 class="text-center">June 2020</h3>
    <h4 class="display-6 text-center py-1">TOTAL COINS EARNED</h4>
    
    <table style="width:100%;"><%- totalCoins %></table>
    <br><p class="text-center">This board will reset on the 1st of the month</p><br>
    -->
    <h4>Leaderboard is down for maintenance.</h4>
    </div>
</body>
</html>