<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SKYN</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
    <style>
        body{
            background-color: #2f2f2f;
            color: blanchedalmond;
        }
        hr{
            background-color: blanchedalmond;
        }
        th{
            padding: 5px;
        }
        tr{
            border: #aaaaaa 1px;
            border-style: solid hidden; 
        }
        .grid-parent {
            display: grid;
            grid-template-columns: 1fr 1fr
        }
        img{
            width: 100%;
            height: auto;
            display: block;
            margin: 0;
        }
        video{
            width: 100%;
            height: auto;
            display: block;
            margin: 0;
        }
        h3{
            text-align: center;
            font-size: 50px;
            padding-top: 50px;
        }
        .rare{
            color: cyan;
        }
        .legendary{
            color: coral;
        }
    </style>
    <div class="container">

        <h1 class="display-4 text-center py-1">SKYN COIN PRIZES</h1>
        <h4 class="display-6 text-center py-1">ESSR Prize Pool</h4>
        <br><br><br><br>
        <h3>COMMON</h3><hr><br><br>
        <div class='parent grid-parent'>
            <div class='child'><img src="prize_pics\SKYN_Res_FlopCol.png" alt="SKYN_Res_FlopCol.png"></div>
            <div class='child'>
                <h4>SKYN HUD color themes</h4>
                <p>⦁    Customizes HUD icon and bar colours<br>
                    ⦁    8 pastel colour options<br>
                    ⦁    8 vibrant colour options</p>
            </div>
          </div>
        <br>
        <div class='parent grid-parent'>
            <div class='child'><img src="prize_pics\SKYN_Res_Eyebags.png" alt="SKYN_Res_Eyebags.png"></div>
            <div class='child'>
                <h4>SKYN Eyebags</h4>
                <p>⦁    Alternative tired eyebags<br>
                    ⦁    5 colour options<br>
                    ⦁    BOM layers</p>
            </div>
          </div>
        <br>
        <div class='parent grid-parent'>
            <div class='child'><img src="prize_pics\SKYN_Res_Pimples.png" alt="SKYN_Res_Pimples.png"></div>
            <div class='child'>
                <h4>SKYN Pimples</h4>
                <p>⦁    Alternative pimples<br>
                    ⦁    Face only or face + chest versions<br>
                    ⦁    7 variations<br>
                    ⦁    BOM layers</p>
            </div>
          </div>
        <br>
        <div class='parent grid-parent'>
            <div class='child'><img src="prize_pics\SKYN_Res_Dumbbells.png" alt="prize_pics\SKYN_Res_Dumbbells.png"></div>
            <div class='child'>
                <h4>SKYN Dumbbells</h4>
                <p>
                ⦁    Features NEW flexing animations<br>
                ⦁    Builds up fitness<br>
                ⦁    16 colours for each hand</p></div>
          </div>
        <br>
        <div class='parent grid-parent'>
            <div class='child'><img src="prize_pics\SKYN_Res_Cans.png" alt="SKYN_Res_Cans.png"></div>
            <div class='child'>
                <h4>SKYN Energy Drinks</h4>
                <p>
                ⦁    Applies messy mouth layer<br>
                ⦁    Refills a small amount of thirst<br>
                ⦁    Excessive consumption causes pimples<br>
                ⦁    9 flavours for each hand</p></div>
          </div>
        <br>
        <div class="rare">
        <h3>RARE</h3><hr><br><br>
        <div class='parent grid-parent'>
            <div class='child'><img src="prize_pics\SKYN_Res_Banana.png" alt="SKYN_Res_Banana.png"></div>
            <div class='child'>
                <h4>SKYN Banana</h4>
                <p>
                ⦁    Reduces fatigue<br>
                ⦁    Healthy calorie:fat gain ratio<br>
                ⦁    Left and right hand options</p></div>
          </div>
        <br>
       
        <div class='parent grid-parent'>
            <div class='child'><img src="prize_pics\SKYN_Res_Coffee.png" alt="SKYN_Res_Coffee.png"></div>
            <div class='child'>
                <h4>SKYN Coffee</h4>
                <p>⦁    Refills a small amount of thirst<br>
                    ⦁    Wakes you up<br>
                    ⦁    10 colours for each hand</p>
            </div>
          </div>
        <br>
        
        <div class='parent grid-parent'>
            <div class='child'><img src="prize_pics\SKYN_Res_Mask.png" alt="SKYN_Res_Mask.png"></div>
            <div class='child'>
                <h4>SKYN Beauty Mask</h4>
                <p>⦁    Clears pimples completely<br>
                    ⦁    6 sheet mask colours<br>
                    ⦁    Refreshing cucumber slices included</p>
            </div>
          </div>
        <br>
        
        <div class='parent grid-parent'>
            <div class='child'><img src="prize_pics\SKYN_Res_Salad.png" alt="SKYN_Res_Salad.png"></div>
            <div class='child'>
                <h4>SKYN Salad</h4>
                <p>⦁    Clears up pimples<br>
                    ⦁    Adds calories with no fat gain<br>
                    ⦁    Fork included</p>
            </div>
          </div>
        <br>
        <div class='parent grid-parent'>
            <div class='child'><img src="prize_pics\SKYN_Res_Squat.png" alt="SKYN_Res_Squat.png"></div>
            <div class='child'>
                <h4>SKYN Squats!</h4>
                <p>⦁    Work out anywhere!<br>
                    ⦁    Squatting animation<br>
                    ⦁    Builds up fitness</p>
            </div>
          </div>
        <br>
        <div class='parent grid-parent'>
            <div class='child'><img src="prize_pics\SKYN_Res_Tea.png" alt="SKYN_Res_Tea.png"></div>
            <div class='child'>
                <h4>SKYN Chamomile Tea</h4>
                <p>⦁    Refills a lot of health<br>
                    ⦁    Refills a moderate amount of thirst<br>
                    ⦁    Causes sleepiness<br>
                    ⦁    10 colours for each hand</p>
            </div>
          </div>
        <br>
        <div class='parent grid-parent'>
            <div class='child'><img src="prize_pics\SKYN_Res_Water.png" alt="SKYN_Res_Water.png"></div>
            <div class='child'>
                <h4>SKYN Water Bottle</h4>
                <p>⦁    Refills a moderate amount of thirst<br>
                    ⦁    Clears up pimples<br>
                    ⦁    9 colours for each hand</p>
            </div>
          </div>
        <br>
        </div>
        <div class="legendary">
            <h3>LEGENDARY</h3><hr><br><br>
            <div class='parent grid-parent'>
                <div class='child'><img src="prize_pics\SKYN_Res_FlopDebug.png" alt="SKYN_Res_FlopDebug.png"></div>
                <div class='child'>
                    <h4>SKYN Debug Mode</h4>
                    <p>⦁    Turns on debug mode<br>
                        ⦁    Displays your current stats</p>
                </div>
            </div>
            <br>
            <br>
        </div>
    </div>
</body>
</html>