<!DOCTYPE html>
        <html>
        <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SKYN Tutorial</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        </head>
        <body>
          <style>
            a{
              text-align: center;
              display: block;
              margin: auto;
              font-weight: bolder;
              text-decoration: underline;
              color: black;
              font-size: 40px;
            }
            img{
              padding: 25px;;
            }
            iframe{
              padding: 25px;
            }
            h1{
              padding: 25px;
            }
          </style>
        <div class="container">
        <h1 class="display-4 text-center py-1">Tutorial</h1>

<iframe style="display: block; margin: auto;width: 80%;height: 500px;" src="https://www.youtube.com/embed/mRDTJ7aceOQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<a href="/">Home</a>
<a href="/leaderboard">Leaderboards</a>
<a target="_blank" href="https://marketplace.secondlife.com/stores/157953">Store</a>
<img src="logos.svg" alt="SKYN logo" style="display: block;margin: auto;">

</div>
</body>
</html>