<!DOCTYPE html>
        <html>
        <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SKYN Tutorial</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        </head>
        <body>
          <style>
            body{
            background-color: #2f2f2f;
            color: blanchedalmond;
        }
        a{
              text-align: center;
              display: inline-block;
              padding: 25px;
              margin: auto;
              font-weight: bolder;
              text-decoration: underline;
              color: #7f7f7f;
              font-size: 20px;
              text-decoration: none;
              width: 19%;
            }
        a:hover{
          text-decoration: none;
          color: blanchedalmond;
        }
            nav{
                margin: auto;
                display: block;
                padding-bottom: 50px;
            }
            img{
              padding: 25px;;
            }
            iframe{
              padding: 25px;
            }
            h1{
              padding: 25px;
            }
          </style>
        <div class="container">
          <nav>
            <a href="/">Home</a>
            <a href="/leaderboard">Leaderboards</a>
            <a href="/prizes">Prizes</a>
            <a href="/tutorial">Tutorial</a>
            <a target="_blank" href="http://maps.secondlife.com/secondlife/Lila/58/87/2496">Store</a>
        </nav>
        <h1 class="display-4 text-center py-1">Tutorial</h1>

<iframe style="display: block; margin: auto;width: 80%;height: 500px;" src="https://www.youtube.com/embed/mRDTJ7aceOQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<img src="logos.svg" alt="SKYN logo" style="display: block;margin: auto;">

</div>
</body>
</html>